fonts/.fonts/.uuid

music/.config/mpd/database
music/.config/mpd/log
music/.config/mpd/pid
music/.config/mpd/playlists
music/.config/mpd/state
music/.config/mpd/sticker

music/.config/ncmpcpp/lyrics
music/.config/ncmpcpp/ncmpcpp
