misc/.local/share/fonts/.uuid

music/.config/ncmpcpp/lyrics
music/.config/ncmpcpp/ncmpcpp

music/.config/mpd/database
music/.config/mpd/log
music/.config/mpd/pid
music/.config/mpd/playlists
music/.config/mpd/state
music/.config/mpd/sticker

vim/.config/nvim/.*
