! URXVT

! fonts
URxvt.font: -t-cherry-medium-r-normal--10-100-75-75-c-100-iso8859-1
URxvt.boldFont: -t-cherry-medium-r-normal--10-100-75-75-c-100-iso8859-1

! settings
URxvt.scrollBar: 0
URxvt.cursorBlink: 1
URxvt.internalBorder: 15
URxvt.geometry: 70x30

! extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: chromium
URxvt.matcher.rend.0: fg13
URxvt.matcher.button: 3

! FONTS

Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! THEMING

! colors
*.foreground: #E8DFD6
*.background: #021B21
*.cursorColor: #E8DFD6

*.color0: #021B21
*.color8: #234149

*.color1: #C2454E
*.color9: #EF5847

*.color2: #7CBF9E
*.color10: #A2D9B1

*.color3: #8A7A63
*.color11: #BEB090

*.color4: #2E3340
*.color12: #61778D

*.color5: #FF5879
*.color13: #FF99A1

*.color6: #44B5B1
*.color14: #9ED9D8

*.color7: #E8DFD6
*.color15: #E8DFD6

! xcursor
Xcursor.theme: DMZ-White
