! URXVT

! fonts
URxvt.font: -t-cherry-medium-r-normal--11-100-75-75-c-100-iso8859-1
URxvt.boldFont: -t-cherry-medium-r-normal--11-100-75-75-c-100-iso8859-1

! settings
URxvt.scrollBar: 0
URxvt.cursorBlink: 1
URxvt.internalBorder: 15
URxvt.geometry: 70x30

! extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: chromium
URxvt.matcher.rend.0: fg10
URxvt.matcher.button: 3

! FONTS

Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! THEMING

! colors
*.foreground: #555555
*.background: #FAFAFA
*.cursorColor: #555555

*.color0: #FAFAFA
*.color8: #CCCCCC

*.color1: #555555
*.color9: #CCCCCC

*.color2: #555555
*.color10: #CCCCCC

*.color3: #555555
*.color11: #CCCCCC

*.color4: #555555
*.color12: #CCCCCC

*.color5: #555555
*.color13: #CCCCCC

*.color6: #555555
*.color14: #CCCCCC

*.color7: #555555
*.color15: #CCCCCC

! xcursor
Xcursor.theme: DMZ-White
