configuration {
    // settings
    eh: 1;
    lines: 5;
    width: 30;
    padding: 20;
    font: "Olive 12";
    scrollbar-width: 0;
    show-match: false;
    window-format: "{t:80}";

    // colors
    color-window: "#EEEEEE, #EEEEEE, #EEEEEE";
    color-normal: "#EEEEEE, #102029, #EEEEEE, #EEEEEE, #F4ADB1";
    color-active: "#EEEEEE, #102029, #EEEEEE, #EEEEEE, #F4ADB1";
    color-urgent: "#EEEEEE, #102029, #EEEEEE, #EEEEEE, #F4ADB1";
}
