configuration {
    /* 
     * settings
     */

    eh: 1;
    lines: 5;
    width: 30;
    padding: 20;
    font: "Kiwi 7";
    scrollbar-width: 0;
    show-match: false;

    /*
     * colors
     */

    color-window: "#EEEEEE, #EEEEEE, #EEEEEE";
    color-normal: "#EEEEEE, #081A28, #EEEEEE, #EEEEEE, #F4ADB1";
    color-active: "#EEEEEE, #081A28, #EEEEEE, #EEEEEE, #F4ADB1";
    color-urgent: "#EEEEEE, #081A28, #EEEEEE, #EEEEEE, #F4ADB1";
}
