#!/bin/sh
#
# external bspwm rules

percent=66

# exit if there is no window
bspc query -N -n > /dev/null || exit

# spawn in preselections first
presel=$(bspc query -N -n newest.local.!automatic) &&
    { echo "node = $presel"; exit; }

wattr wh "$(pfw)" |
{
    read -r w h

    ratio=$((h * 100 / w))

    # split horizontally if ratio < percent
    # split vertically otherwise
    [ "$ratio" -lt "$percent" ] && split=east || split=south

    echo "split_dir = $split"
}
