#!/bin/sh
#
# external bspwm rules

percent=66

# spawn in preselections first
presel=$(bspc query -N -n newest.local.!automatic) &&
{ echo "node = $presel"; exit; }

# spawn floating windows when floating
bspc query -N -n focused.floating > /dev/null &&
{ echo "state = floating"; exit; }

wattr wh "$(pfw)" |
{
    read -r w h

    ratio=$((h * 100 / w))

    # split horizontally if ratio < percent
    # split vertically otherwise
    [ "$ratio" -lt "$percent" ] && split=east || split=south

    echo "split_dir = $split"
}
