#!/bin/sh
#
# external rules

percent=66

# spawn in preselections first
presel=$(bspc query -N -n newest.local.!automatic) &&
    { echo "node = $presel"; exit; }

# if the focused node isn't tiled
# measure the last tiled node instead
! bspc query -N -n focused.tiled > /dev/null  &&
    node=$(bspc query -N -n last.local.tiled) ||
    node=$(bspc query -N -n)

# exit if there is no focused node
test "$node" || exit

wattr wh "$node" |
{
    read -r w h

    ratio=$((h * 100 / w))

    # split horizontally if ratio < percent
    # split vertically otherwise
    [ "$ratio" -lt "$percent" ] && split=east || split=south

    echo "split_dir = $split"
}

echo "node = $node"
